<ion-content padding>
  <ion-button fill='clear' (click)="dismiss()" style="color: white">
    <ion-icon name="arrow-round-back" slot="start"></ion-icon>
    Back
  </ion-button>
  <ion-grid text-center>
      <img  src="\assets\user.png" >
  </ion-grid> 
  <br>
  <form #form="ngForm" (ngSubmit)="editar(form)" method="POST">
    <ion-item style="border-radius: 15px">
      <ion-input ngModel name="fName"type="text" pattern="[A-Za-z\s]+"  required="true" value={{this.fname}} ></ion-input>
    </ion-item>
    <br>
    <ion-item style="border-radius: 15px">
      <ion-input ngModel name="lName" type="text" pattern="[A-Za-z\s]+"  required="true" value={{this.lname}}></ion-input>
    </ion-item>
    <br>
    <ion-item style="border-radius: 15px">
      <ion-input type="email" ngModel name="email" pattern="[-a-zA-Z0-9~!$%^&amp;*_=+}{'?]+(\.[-a-zA-Z0-9~!$%^&amp;*_=+}{'?]+)*@([a-zA-Z0-9_][-a-zA-Z0-9_]*(\.[-a-zA-Z0-9_]+)*\.([cC][oO][mM]))(:[0-9]{1,5})?" required="true" value={{this.email}}></ion-input>
    </ion-item>
    <br>
    <ion-item style="border-radius: 15px">
      <ion-input ngModel name="endereco" type="text" pattern="[A-Za-z0-9\s]+" required="true" value={{this.endereco}}></ion-input>
    </ion-item>
    <br>
    <ion-item style="border-radius: 15px">
      <ion-input ngModel name="cidade" type="text" pattern="[A-Za-z\s]+" required="true" value={{this.cidade}}></ion-input>
    </ion-item>
    <br>
    <ion-item style="border-radius: 15px">
      <ion-input ngModel name="estado" type="text" pattern="[A-Za-z\s]+" required="true" value={{this.estado}}></ion-input>
    </ion-item>
    <br>
    <ion-item style="border-radius: 15px">
      <ion-input ngModel name="telefone" type="text" pattern="[0-9.-]{8,9}$" required="true" value={{this.telefone}}></ion-input>
    </ion-item>
    <br>
    <ion-datetime ngModel name="data_nasc" display-format="DD/MM/YYYY" required="true" value={{this.data_nasc}}></ion-datetime>
    <br>
    <ion-button type="submit" round expand="block" color="primary">Salvar edição</ion-button>
  </form>
</ion-content>

