<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Lista de presença</ion-card-title>
      <ion-card-subtitle>Comparecerá na reunião do dia ... ?</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
          <ion-list>
          </ion-list>
        <ion-button color="primary">SIM</ion-button>
        <ion-button color="danger">NÃO</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Informativos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
          <ion-list>
          </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ordem do dia</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-list>
        </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Financeiro</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h3>
          Verifique a situação financeira
      </h3>
      <br>
      <ion-button color="primary"[routerLink]="['/financeiro']">Ver mais</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>