<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Lista de presença</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content padding>
  <ion-item *ngFor="let list of lista">
      <ion-label>Nome:</ion-label>&nbsp;
      <ion-label>{{this.nome}}</ion-label><br>
      <ion-label>Presença:</ion-label>&nbsp;
      <ion-label>{{this.presenca}}</ion-label><br>
      <ion-label>Motivo:</ion-label>&nbsp;
      <ion-label>{{this.motivo}}</ion-label>
  </ion-item>
</ion-content>