<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Componentes</ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content padding class="animated bounceInUp">
    
      <ion-button expand="full" (click)="abrirPagina('1')">Action Sheet</ion-button>
      <ion-button expand="full" (click)="abrirPagina('2')">Alert</ion-button>
      <ion-button expand="full" (click)="abrirPagina('3')">Badges</ion-button>
      <ion-button expand="full" (click)="abrirPagina('4')">Button</ion-button>
      <ion-button expand="full" (click)="abrirPagina('5')">Card</ion-button>
      <ion-button expand="full" (click)="abrirPagina('6')">Checkbox</ion-button>
      <ion-button expand="full" (click)="abrirPagina('7')">Radio</ion-button>
      <ion-button expand="full" (click)="abrirPagina('8')">DateTime</ion-button>
      <ion-button expand="full" (click)="abrirPagina('9')">Fab</ion-button>
      <ion-button expand="full" (click)="abrirPagina('10')">Input</ion-button>
      <ion-button expand="full" (click)="abrirPagina('11')">List</ion-button>
      <ion-button expand="full" (click)="abrirPagina('12')">Loading</ion-button>
      <ion-button expand="full" (click)="abrirPagina('13')">Modal</ion-button>
      <ion-button expand="full" (click)="abrirPagina('14')">Range</ion-button>
      <ion-button expand="full" (click)="abrirPagina('15')">Select</ion-button>
      <ion-button expand="full" (click)="abrirPagina('16')">Slides</ion-button>
      <ion-button expand="full" (click)="abrirPagina('17')">Spinner</ion-button>
      <ion-button expand="full" (click)="abrirPagina('18')">Toast</ion-button>
      <ion-button expand="full" (click)="abrirPagina('19')">InfinitScroll</ion-button>
      <ion-button expand="full" (click)="abrirPagina('20')">Popover</ion-button>
      <ion-button expand="full" (click)="abrirPagina('21')">Refresher</ion-button>
      <ion-button expand="full" (click)="abrirPagina('22')">Searchbar</ion-button>
      <ion-button expand="full" (click)="abrirPagina('23')">Toggle</ion-button>
    
  
  </ion-content>