<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Animações</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <h2>Animações podem ser usadas em: imagem, texto, botões, etc</h2>
  <br>
  <img class="animated infinite  fadeIn" src="\assets\v.jpg">
  <img class="animated infinite bounce" src="\assets\v.jpg">
  <img class="animated infinite flash" src="\assets\v.jpg">
  <img class="animated infinite pulse" src="\assets\v.jpg">
  <img class="animated infinite rubberBand" src="\assets\v.jpg">
  <img class="animated infinite shake" src="\assets\v.jpg">
  <img class="animated infinite headShake" src="\assets\v.jpg">
  <img class="animated infinite swing" src="\assets\v.jpg">
  <img class="animated infinite tada" src="\assets\v.jpg">
  <img class="animated infinite wobble" src="\assets\v.jpg">
  <img class="animated infinite jello" src="\assets\v.jpg">
  <img class="animated infinite bounceIn" src="\assets\v.jpg">
  <img class="animated infinite bounceInDown" src="\assets\v.jpg">
  <img class="animated infinite bounceInLeft" src="\assets\v.jpg">
  <img class="animated infinite bounceInRight" src="\assets\v.jpg">
  <img class="animated infinite bounceInUp" src="\assets\v.jpg">
  <img class="animated infinite bounceOut" src="\assets\v.jpg">
  <img class="animated infinite bounceOutDown" src="\assets\v.jpg">
  <img class="animated infinite bounceOutLeft" src="\assets\v.jpg">
  <img class="animated infinite bounceOutRight" src="\assets\v.jpg">
  <img class="animated infinite bounceOutUp" src="\assets\v.jpg">
  <img class="animated infinite fadeIn" src="\assets\v.jpg">
  <img class="animated infinite fadeInDown" src="\assets\v.jpg">
  <img class="animated infinite fadeInDownBig" src="\assets\v.jpg">
  <img class="animated infinite fadeInLeft" src="\assets\v.jpg">
  <img class="animated infinite fadeInLeftBig" src="\assets\v.jpg">
  <img class="animated infinite fadeInRight" src="\assets\v.jpg">
  <img class="animated infinite fadeInRightBig" src="\assets\v.jpg">
  <img class="animated infinite fadeInUp" src="\assets\v.jpg">
  <img class="animated infinite fadeInUpBig" src="\assets\v.jpg">
  <img class="animated infinite fadeOut" src="\assets\v.jpg">
  <img class="animated infinite fadeOutDown" src="\assets\v.jpg">
  <img class="animated infinite fadeOutDownBig" src="\assets\v.jpg">
  <img class="animated infinite fadeOutLeft" src="\assets\v.jpg">
  <img class="animated infinite fadeOutLeftBig" src="\assets\v.jpg">
  <img class="animated infinite fadeOutRight" src="\assets\v.jpg">
  <img class="animated infinite fadeOutRightBig" src="\assets\v.jpg">
  <img class="animated infinite fadeOutUp" src="\assets\v.jpg">
  <img class="animated infinite fadeOutUpBig" src="\assets\v.jpg">
  <img class="animated infinite flipInX" src="\assets\v.jpg">
  <img class="animated infinite flipInY" src="\assets\v.jpg">
  <img class="animated infinite flipOutX" src="\assets\v.jpg">
  <img class="animated infinite flipOutY" src="\assets\v.jpg">
  <img class="animated infinite lightSpeedIn" src="\assets\v.jpg">
  <img class="animated infinite lightSpeedOut" src="\assets\v.jpg">
  <img class="animated infinite rotateIn" src="\assets\v.jpg">
  <img class="animated infinite rotateInDownLeft" src="\assets\v.jpg">
  <img class="animated infinite rotateInDownRight" src="\assets\v.jpg">
  <img class="animated infinite rotateInUpLeft" src="\assets\v.jpg">
  <img class="animated infinite rotateInUpRight" src="\assets\v.jpg">
  <img class="animated infinite rotateOut" src="\assets\v.jpg">
  <img class="animated infinite rotateOutDownLeft" src="\assets\v.jpg">
  <img class="animated infinite rotateOutDownRight" src="\assets\v.jpg">
  <img class="animated infinite rotateOutUpLeft" src="\assets\v.jpg">
  <img class="animated infinite rotateOutUpRight" src="\assets\v.jpg">
  <img class="animated infinite hinge" src="\assets\v.jpg">
  <img class="animated infinite jackInTheBox" src="\assets\v.jpg">
  <img class="animated infinite rollIn" src="\assets\v.jpg">
  <img class="animated infinite rollOut" src="\assets\v.jpg">
  <img class="animated infinite zoomIn" src="\assets\v.jpg">
  <img class="animated infinite zoomInDown" src="\assets\v.jpg">
  <img class="animated infinite zoomInLeft" src="\assets\v.jpg">
  <img class="animated infinite zoomInRight" src="\assets\v.jpg">
  <img class="animated infinite zoomInUp" src="\assets\v.jpg">
  <img class="animated infinite zoomOut" src="\assets\v.jpg">
  <img class="animated infinite zoomOutDown" src="\assets\v.jpg">
  <img class="animated infinite zoomOutLeft" src="\assets\v.jpg">
  <img class="animated infinite zoomOutRight" src="\assets\v.jpg">
  <img class="animated infinite zoomOutUp" src="\assets\v.jpg">
  <img class="animated infinite slideInDown" src="\assets\v.jpg">
  <img class="animated infinite slideInLeft" src="\assets\v.jpg">
  <img class="animated infinite slideInRight" src="\assets\v.jpg">
  <img class="animated infinite slideInUp" src="\assets\v.jpg">
  <img class="animated infinite slideOutDown" src="\assets\v.jpg">
  <img class="animated infinite slideOutLeft" src="\assets\v.jpg">
  <img class="animated infinite slideOutRight" src="\assets\v.jpg">
  <img class="animated infinite slideOutUp" src="\assets\v.jpg">
  <img class="animated infinite heartBeat" src="\assets\v.jpg">
</ion-content>
