<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Ordem</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content padding>
    <ion-card>
      <ion-card-header>
        <ion-card-title text-center>Ordem</ion-card-title>
      </ion-card-header>
      <ion-card-content style="padding-left: 35px">
          <ion-list lines="none">
              <ion-item *ngFor="let ordens of ordem">
                <ion-label>{{ordens}}</ion-label>
              </ion-item>
            </ion-list>
      </ion-card-content>
    </ion-card>
</ion-content>