<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Minha Conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
          <ion-card-title>Dados Pessoais</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list lines="none">
            <ion-item no-lines>
              <h3>Nome:</h3>&nbsp;<h3>{{this.fname}}</h3>
            </ion-item>
            <ion-item no-lines>
                <h3>Sobrenome:</h3>&nbsp;<h3>{{this.lname}}</h3>
            </ion-item>
            <ion-item no-lines>
              <h3>E-mail:</h3>&nbsp;<h3>{{this.email}}</h3>
            </ion-item>
          </ion-list>
            <br>
            <ion-button color="primary" (click)=editardados()>Editar dados</ion-button>
            <ion-button color="primary" (click)=editarsenha()>Editar senha</ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>
