<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Financeiro</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content padding>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Situação</ion-card-title>
        </ion-card-header>
        <ion-card-content>
              <ion-list>
            
              </ion-list>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Mês atual</ion-card-title>
        </ion-card-header>
        <ion-card-content>
              <ion-list>
            
              </ion-list>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Histórico</ion-card-title>
        </ion-card-header>
        <ion-card-content>
              <ion-list>
            
              </ion-list>
        </ion-card-content>
      </ion-card>
</ion-content>
