<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <!-- botão para voltar pra pagina anterior e botão para abrir o menu -->
        <ion-back-button></ion-back-button>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Layout - Menu
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
    <!-- menu-toggle entende que é pra abrir o menu,pode colocar outras coisas alem de botoes -->
    <ion-menu-toggle>
        <ion-button>Abri Menu</ion-button>
    </ion-menu-toggle>

</ion-content>
