<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>
        Loading
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <h1>Tipos de Load</h1>
  <ion-button expand="block" (click)="showLoadingDefault()">Loading default</ion-button>
  <ion-button expand="block" (click)="showLoadingCustomizeSpinner1()">Spinner lines</ion-button>
  <ion-button expand="block" (click)="showLoadingCustomizeSpinner2()">Spinner lines-small</ion-button>
  <ion-button expand="block" (click)="showLoadingCustomizeSpinner3()">Spinner dots</ion-button>
  <ion-button expand="block" (click)="showLoadingCustomizeSpinner4()">Spinner bubbles</ion-button>
  <ion-button expand="block" (click)="showLoadingCustomizeSpinner5()">Spinner circles</ion-button>
  <ion-button expand="block" (click)="showLoadingCustomizeSpinner6()">Spinner crescent</ion-button>
  <ion-button expand="block" (click)="showLoadingCustomizeTranslucent()">Spinner translucent</ion-button>
  <ion-button expand="block" (click)="showLoadingConsumindoApi()">Simulando consumo de api</ion-button>

  
</ion-content>
