<ion-content>
  <ion-grid text-center style="margin-top: 10%">
    <h1 style="color: white; font-size: 60px">TESTANDO</h1>
  </ion-grid>
  <br>
  <ion-grid text-center>
      <img  src="\assets\group.png" >
  </ion-grid>
  <br>
  <ion-grid text-center >
    <ion-row>
      <ion-col>
        <ion-button fill="clear" size="large" (click)="login()" style="color: white">Login</ion-button>
        <ion-button fill="clear" size="large" (click)="register()" style="color: white">Register</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
